.quiz{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitle {
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    border: 1px solid white;
    box-shadow: 4px 4px 2px white;
}
.quizInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.quizInfo h4{
    margin: 0 30px;
    border: 1px solid white;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
}


@media (max-width: 800px){
    .quizInfo h4{
        margin: 10px;
    }
}