*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
.App {
  height: 120vh;
  background-image: url('./images/banner1.jpg');
  background-color: rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  color: white;
}

@media (max-width: 800px){
  .App{
    height: 135vh;
  }
}
